<script setup lang="ts"></script>

<template>
  <v-app-bar class="blue">
    <v-row align="center">
      <v-col>
        <v-btn title="Home" value="home" to="/" :class="{ 'btn-selected': $route.path === '/' }">
          <v-img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" width="40" height="24" alt="Home"></v-img>
          HOME
        </v-btn>
        <v-btn title="Movie" value="movie" to="/movie" :class="{ 'btn-selected': $route.path === '/movie' }">
          <v-img src="https://uxwing.com/wp-content/themes/uxwing/download/video-photography-multimedia/movie-icon.png"
            width="40" height="24" alt="Movie"></v-img>
          MOVIE
        </v-btn>
        <v-btn>
          <v-img src="https://cdn-icons-png.flaticon.com/512/864/864855.png" width="40" height="24"
            alt="Food/Drink"></v-img>
          FOOD/DRINK
        </v-btn>
        <v-btn>
          <v-img src="https://cdn-icons-png.flaticon.com/512/6490/6490828.png" width="40" height="24"
            alt="Promotion"></v-img>
          PROMOTION
        </v-btn>
        <v-btn class="button" title="Manager" value="manager" to="/manager" :class="{ 'btn-selected': $route.path === '/manager' }">
          <v-img src="https://uxwing.com/wp-content/themes/uxwing/download/editing-user-action/manager-icon.png"
            width="40" height="24" alt="Manager"></v-img>
          MANAGER
        </v-btn>
      </v-col>
      <v-col>
        <v-img src="https://cdn-icons-png.flaticon.com/256/149/149071.png" class="User" width="50" height="50"
          alt="User"></v-img>
      </v-col>
    </v-row>
  </v-app-bar>
</template>

<style scoped>
.blue {
  background-color: #5a0099;
  color: white;
}

.button {
  background-color: #ffffff;
  color: black;
}

.btn-selected {
  background-color: gold;
}

.User {
  display: block;
  margin-left: auto;
  margin-right: 16px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
}
</style>
