<script setup lang="ts"></script>

<template>
  <v-app-bar class="blue">
    <v-row align="center">
      <v-col>
        <v-btn title="CheckTicket" value="checkTicket" to="/checkticket"
          :class="{ 'btn-selected': $route.path === '/' }">
          <v-img src="https://icon-library.com/images/ticket-hand-cinema-film-movie-512.png" width="40" height="24"
            alt="CheckTicket"></v-img>
          ตรวจตั๋ว
        </v-btn>
        <v-btn>
          <v-img src="https://uxwing.com/wp-content/themes/uxwing/download/video-photography-multimedia/movie-icon.png"
            width="40" height="24" alt="Movie"></v-img>
          ออกตั๋ว
        </v-btn>

        <v-btn class="button" title="Home" value="home" to="/" :class="{ 'btn-selected': $route.path === '/' }">
          <v-img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" width="40" height="24" alt="Home"></v-img>
          USer
        </v-btn>
      </v-col>
      <v-col>
        <v-img src="https://cdn-icons-png.flaticon.com/256/149/149071.png" class="User" width="50" height="50"
          alt="User"></v-img>
      </v-col>
    </v-row>
  </v-app-bar>
</template>

<style scoped>
.blue {
  background-color: #5a0099;
  color: white;
}

.btn-selected {
  background-color: gold;
}

.button {
  background-color: #ffffff;
  color: black;
}

.User {
  display: block;
  margin-left: auto;
  margin-right: 16px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
}
</style>
