<script setup lang="ts">
import { useMovieStore } from '@/stores/movie';
import { onMounted, ref } from 'vue'

const backendUrl = import.meta.env.VITE_BACKEND_URL;
const movieStore = useMovieStore();
onMounted(async () => {
  await movieStore.getMovies();
})

function formatDate(itemDate?: string) {
  const formatedDate = new Date(itemDate ?? "");
  const d = formatedDate.getDate();
  const month = formatedDate.getMonth();
  const year = formatedDate.getFullYear();
  return `${d}-${month}-${year}`;
}


const selectedItem = ref(0)
</script>

<template>
  <div class="container-bg">
    <v-container class="container-bg">
      <br />
      <v-row justify-center>
        <v-col cols="12" class="text-center">
          <v-btn-toggle v-model="selectedItem">
            <v-btn @click="selectedItem = 0" :color="selectedItem === 0 ? 'yellow' : undefined"
              class="text-h4">กำลังเข้าฉาย</v-btn>
            <v-btn @click="selectedItem = 1" :color="selectedItem === 1 ? 'yellow' : undefined"
              class="text-h4">โปรแกรมหน้า</v-btn>
          </v-btn-toggle>
        </v-col>
      </v-row>

      <!-- รายการหนัง -->
      <v-row justify-center>
        <v-col v-for="item of movieStore.movies" :key="item.id" class="text-center" cols="12" md="3">
          <!-- ใช้ router-link ที่นี้ -->
          <router-link :to="{ path: `/MovieDetailView/${item.id}` }" class="text-decoration-none">
            <div class="poster">
              <div class="mx-auto">
                <v-img :src="`${backendUrl}/movies/${item.id}/image`" :width="300" :height="450"
                  class="rounded-0"></v-img>
              </div>
            </div>
            <div class="info">
              <p>
                <span class="text text-white">วันที่เข้าฉาย : </span>
                <span class="date text-white">{{ formatDate(item.createdAt) }}</span>
              </p>
              <h3 class="name text-white">{{ item.title }}</h3>
            </div>
          </router-link>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.headline {
  font-size: 48px;
  font-weight: bold;
}

.auto image {
  width: 300;
  height: 450;
}

.container-bg {
  background-color: #1b1b1b;
  color: white;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-decoration-none {
  text-decoration: none;
}
</style>
