<script setup lang="ts">
import { useMovieStore } from '@/stores/movie';
import { onMounted, ref } from 'vue';

const backendUrl = import.meta.env.VITE_BACKEND_URL;
const movieStore = useMovieStore();
onMounted(async () => {
  await movieStore.getMovies();
})

function formatDate(itemDate?: string) {
  const formatedDate = new Date(itemDate ?? "");
  const d = formatedDate.getDate();
  const month = formatedDate.getMonth();
  const year = formatedDate.getFullYear();
  return `${d}-${month}-${year}`;
}

const movies = ref([
  {
    name: "P'Aun Beautiful picture",
    date: "2024-02-06",
    poster: "https://qph.cf2.quoracdn.net/main-qimg-c7e928ac1f11f73c7fe5b61adbdba085-lq",
    link: "/MovieDetailView"
  },
  {
    name: "VENOM III",
    date: "2024-02-06",
    poster: "https://tilt.goombastomp.com/wp-content/uploads/2021/12/Venom2CarnagePostersFanartb5992-768x1137.jpg",
    link: "/about"
  },
  {
    name: "LANSKY",
    date: "2024-02-18",
    poster: "https://tilt.goombastomp.com/wp-content/uploads/2021/12/LanksyPosterOfficialmainimagebig599-768x1134.jpg",
    link: "/about"
  },
  {
    name: "DUNE",
    date: "2024-02-06",
    poster: "https://tilt.goombastomp.com/wp-content/uploads/2021/12/dune_fzj9yoaw_d7964a27-b29e-499d-a8b2-468cd125a2ab_500x.jpg",
    link: "/about"
  }

]);

const upcomingMovies = ref([
  {
    name: "SONIC",
    date: "2024-02-29",
    poster: "https://i.pinimg.com/736x/b1/f0/d7/b1f0d7c613e27d01bbd1d714e8ed123b.jpg",
    link: "/about"
  },
  {
    name: "The Star Shrek",
    date: "2024-04-31",
    poster: "https://i.pinimg.com/736x/da/fd/0d/dafd0d6862386165a570e1628d4ca4da.jpg",
    link: "/about"
  }
]);

const selectedItem = ref(0);
</script>

<template >
  <div class="container-bg">
  <v-carousel show-arrows="hover"  height="600">
    <v-carousel-item>
      <a href="https://youtu.be/GQ5eoBWiOcA?si=QhvPpIsqk44u0LRy" target="_blank">
        <v-img src="FUKU.png" cover></v-img>
      </a>
    </v-carousel-item>
    <v-carousel-item>
      <a href="https://youtu.be/pBk4NYhWNMM?si=j6rCBh88YZIgfODo" target="_blank">
        <v-img src="barbie.jpg" cover></v-img>
      </a>
    </v-carousel-item>
    <v-carousel-item>
      <a href="https://youtu.be/uQaB7a2eDOA?si=t6ZbZidYvWkCshVk" target="_blank">
        <v-img src="flash.jpg" cover></v-img>
      </a>
    </v-carousel-item>
    <v-carousel-item>
      <a href="https://youtu.be/J6iQFve58-w?si=rVbyfD8P8C-olvKA" target="_blank">
        <v-img src="beautiful.jpg" cover></v-img>
      </a>
    </v-carousel-item>
    <v-carousel-item>
      <a href="https://youtu.be/7FnbLyv2oio?si=D8X8n4-ditPmuj0F" target="_blank">
        <v-img src="theTransporter.jpg" cover></v-img>
      </a>
    </v-carousel-item>
  </v-carousel>



  <v-container class="container-bg">
    <br />
    <v-row justify-center>
      <v-col cols="12" class="text-center">
        <v-btn-toggle v-model="selectedItem">
          <v-btn @click="selectedItem = 0" :color="selectedItem === 0 ? 'yellow' : undefined"
            class="text-h4">กำลังเข้าฉาย</v-btn>
          <v-btn @click="selectedItem = 1" :color="selectedItem === 1 ? 'yellow' : undefined"
            class="text-h4">โปรแกรมหน้า</v-btn>
        </v-btn-toggle>
      </v-col>
    </v-row>

    <v-row justify-center>
      <v-col v-for="item of movieStore.movies" :key="item.id" class="text-center" cols="12" md="3">
        <!-- ใช้ router-link ที่นี้ -->
        <router-link :to="{ path: `/MovieDetailView/${item.id}` }" class="text-decoration-none">
          <div class="poster">
            <div class="mx-auto">
              <v-img :src="`${backendUrl}/movies/${item.id}/image`" :width="300" :height="450" class="rounded-0"></v-img>
            </div>
          </div>
          <div class="info">
            <p>
              <span class="text text-white">วันที่เข้าฉาย : </span>
              <span class="date text-white">{{ formatDate(item.createdAt) }}</span>
            </p>
            <h3 class="name text-white">{{ item.title }}</h3>
          </div>
        </router-link>
      </v-col>
    </v-row>
  </v-container>
</div>
</template>

<style scoped>
.container-bg {
  background-color: #1B1B1B;
  color: white;
}

.text-white {
  color: white;
}

.text-decoration-none {
  text-decoration: none;
}
</style>