<script lang="ts" setup>
</script>
<template>
  <div></div>
</template>
<style scoped>
.container-bg {
  background-color: #1B1B1B;
  color: white;
}

.text-white {
  color: white;
}

.text-decoration-none {
  text-decoration: none;
}
</style>