<script lang="ts" setup>
import { useMovieStore } from '@/stores/movie';
import { onMounted } from 'vue';

const movieStore = useMovieStore();
onMounted(async () => {
  await movieStore.getMovies();
})
</script>
<template>
  <div>{{ movieStore.movies }}</div>
</template>