<script setup lang="ts">
import { ref, computed } from 'vue'

const seatLayout = ref([
  {
    id: 'E',
    columns: ['E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10', 'E11', 'E12', 'E13']
  },
  {
    id: 'D',
    columns: ['D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13']
  },
  {
    id: 'C',
    columns: ['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13']
  },
  {
    id: 'B',
    columns: ['B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B8', 'B9', 'B10', 'B11', 'B12', 'B13']
  },
  {
    id: 'A',
    columns: ['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'A11', 'A12', 'A13']
  }
])

const selectedSeats = ref([])
const seatPrices = {
  A: 300,
  B: 200,
  C: 200,
  D: 200,
  E: 200
}
let total = ref(1)

const sumtotal = computed(() => {
  return selectedSeats.value.reduce((acc, seat) => {
    const [row] = seat
    return acc + seatPrices[row]
  }, 0) * total.value
})

const toggleSeat = (row, column) => {
  const seatIndex = selectedSeats.value.findIndex(seat => seat[0] === row && seat[1] === column);
  if (seatIndex !== -1) {
    // ถ้าที่นั่งมีอยู่แล้วในรายการที่เลือก ให้ลบที่นั่งออก
    selectedSeats.value.splice(seatIndex, 1);
    total.value = 1
  } else {
    // ถ้าที่นั่งยังไม่อยู่ในรายการที่เลือก ให้เพิ่มที่นั่งเข้าไป
    selectedSeats.value.push([row, column]);
    total.value = 1
  }
}

const closeDiscount = () => {
  Promotiondialog2.value = true;
  Promotiondialog1.value = false;
  setTimeout(closePromotionDialog2, 3000);
}

const isSeatReserved = (row: string, column: string) => {
  // ในกรณี Mockup ไม่เชื่อมต่อกับฐานข้อมูล
  return false
}

const isSeatSelected = (row: string, column: string) => {
  return selectedSeats.value.some((seat) => seat[0] === row && seat[1] === column)
}

// ประกาศ ref ของ Dialog โปรโมชั่นและโปรโมชั่น 2
const Promotiondialog1 = ref(false)
const Promotiondialog2 = ref(false)
// ประกาศ ref ของโค้ดโปรโมชั่น
const promoCode = ref('')

// ประกาศฟังก์ชันเพื่อเปิด Dialog โปรโมชั่น
const openPromotionDialog = () => {
  if (promoCode.value.trim() !== '') {
    switch (promoCode.value) {
      case 'FUKU01':
        total.value = 1.0; // ลดราคา 100%
        closeDiscount()
        break;
      case 'FUKU02':
        total.value = 0.75; // ลดราคา 75%
        closeDiscount()
        break;
      case 'FUKU03':
      total.value = 0.50; // ลดราคา 50%
        closeDiscount()
        break;
      case 'FUKU04':
        total.value = 0.3; // ลดราคา 30%
        closeDiscount()
        break;
      case 'FUKU05':
        total.value = 0.1; // ลดราคา 10%
        closeDiscount()
        break;
      case 'FUKU06':
        total.value = 0.05; // ลดราคา 5%
        closeDiscount()
        break;
      default:
        alert('โปรโมชั่นนี้ไม่สามารถใช้งานได้');
    }
  } else {
    alert('ไม่มีโค้ดใช้งาน กรุณาใส่โค้ดก่อน');
  }
}
// ประกาศฟังก์ชันเพื่อปิด Dialog โปรโมชั่น
const closePromotionDialog = () => {
  Promotiondialog1.value = false
}

// ประกาศฟังก์ชันเพื่อปิด Dialog โปรโมชั่น 2
const closePromotionDialog2 = () => {
  Promotiondialog2.value = false
}

// ประกาศ ref ของ Dialog ซื้อตั๋ว
const Ticketdialog1 = ref(false)
const Ticketdialog2 = ref(false)
const Ticketdialog3 = ref(false)

// ประกาศฟังก์ชันเพื่อเปิด Dialog ซื้อตั๋ว
const openTicketDialog1 = () => {
  Ticketdialog1.value = true
  setTimeout(closeTicketDialog1, 5000)
}

// ประกาศฟังก์ชันเพื่อปิด Dialog ซื้อตั๋ว 1
const closeTicketDialog1 = () => {
  Ticketdialog1.value = false
  Ticketdialog2.value = true
  setTimeout(closeTicketDialog2, 3000)
}

// ประกาศฟังก์ชันเพื่อปิด Dialog ซื้อตั๋ว 2
const closeTicketDialog2 = () => {
  Ticketdialog2.value = false
  Ticketdialog3.value = true
}


</script>

<template>
  <!-- หน้าจอด้านซ้าย -->
  <div class="grid-container">
    <table>
      <!-- จอฉาย -->
      <tr>
        <td></td>
        <td>
          <div class="text-theater">จอฉายภาพยนตร์</div>
        </td>
        <td></td>
      </tr>

      <!-- ผังที่นั่ง -->
      <tr v-for="row in seatLayout" :key="row.id">
        <td class="row-id">{{ row.id }}</td>
        <td>
          <button v-for="column in row.columns" :key="column" type="button" :class="{
        selected: isSeatSelected(row.id, column),
        'seat-row-A': row.id === 'A',
        'seat-row-other': row.id !== 'A'
      }" @click="toggleSeat(row.id, column)" :disabled="isSeatReserved(row.id, column)">
            {{ column }}
          </button>
        </td>
        <td class="row-id">{{ row.id }}</td>
      </tr>
      <tr>
        <td></td>
        <!-- ราคาแต่ละที่นั่ง -->
        <td style="display: flex; justify-content: center; align-items: center">
          <span>
            <v-btn color="white" style="width: 76px; height: 40px; border-radius: 0px"></v-btn>
            <h3 style="display: inline-block; color: white">200 บาท</h3>
          </span>
          <span>
            <v-btn color="rgb(255, 94, 94)" style="width: 76px; height: 40px; border-radius: 0px"></v-btn>
            <h3 style="display: inline-block; color: white">300 บาท</h3>
          </span>
        </td>
      </tr>
    </table>

    <!-- หน้าจอด้านขวา -->
    <!-- แสดงรายละเอียดการจอง -->
    <div class="right-side" style="color: white">
      <!-- รายละเอียดภาพยนตร์ -->
      <div class="img-frame">
        <v-img src="https://qph.cf2.quoracdn.net/main-qimg-c7e928ac1f11f73c7fe5b61adbdba085-lq"
          class="img-movie"></v-img>
      </div>
      <h1>รายละเอียดการจอง</h1>
      <h2>ที่นั่งที่เลือก</h2>
      <h2 v-if="selectedSeats.length > 0">{{ selectedSeats.map((seat) => seat[1]) }}</h2>
      <h2 v-else>-</h2>
      <h2>ราคารวม</h2>
      <h2 v-if="selectedSeats.length > 0">{{ sumtotal }} บาท</h2>
      <h2 v-else>-</h2>
      <!-- ปุ่มใช้โปรโมชั่น -->
      <v-btn class="btn" @click="Promotiondialog1 = true">โปรโมชั่น / ส่วนลด</v-btn>
      <v-dialog v-model="Promotiondialog1" max-width="500px" max-height="400px">
        <v-card>
          <v-card-title class="text-h5 text-center"> ใช้โปรโมชั่น / ส่วนลด </v-card-title>
          <v-card-text class="my-card-text">
            <v-text-field v-model="promoCode"></v-text-field>
          </v-card-text>

          <v-card-actions class="text-center">
            <v-btn class="btn-green" dark @click="openPromotionDialog">ใช้งาน</v-btn>
            <v-btn class="btn-red" dark @click="closePromotionDialog">ยกเลิก</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="Promotiondialog2" max-width="500px" max-height="400px">
        <v-card>
          <v-img src="https://static-00.iconduck.com/assets.00/check-circle-1-icon-2048x2048-t5gzpu3y.png"
            class="center-img" width="200" height="200"></v-img>
          <br />
          <v-card-title class="text-h5 text-center"> กรอกโค้ดสำเร็จ </v-card-title>
        </v-card>
      </v-dialog>

      <!-- ปุ่มยืนยันซื้อตั๋ว -->
      <v-btn class="btn" @click="openTicketDialog1" :disabled="selectedSeats.length <= 0">ซื้อตั๋ว</v-btn>
      <v-dialog v-model="Ticketdialog1" max-width="500px" max-height="400px">
        <v-card>
          <v-img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Rickrolling_QR_code.png" class="QR-img"
            width="200" height="200"></v-img>
          <br />
          <v-card-title class="text-h5 text-center"> สแกนเพื่อจ่ายด้วยพร้อมเพย์ </v-card-title>
        </v-card>
      </v-dialog>

      <v-dialog v-model="Ticketdialog2" max-width="500px" max-height="400px">
        <v-card>
          <v-img src="https://static-00.iconduck.com/assets.00/check-circle-1-icon-2048x2048-t5gzpu3y.png"
            class="center-img" width="200" height="200"></v-img>
          <br />
          <v-card-title class="text-h5 text-center"> ชำระเงินเสร็จสิ้น </v-card-title>
        </v-card>
      </v-dialog>

      <v-dialog v-model="Ticketdialog3">
        <v-card class="receipt-card">
          <div class="close-button">
            <v-btn icon to="/">
              <v-img src="https://cdn-icons-png.freepik.com/256/14025/14025477.png" class="center-img" width="50"
                height="50"></v-img>
            </v-btn>
          </div>
          <v-card-title class="text-h4 text-center">ใบเสร็จการซื้อตั๋ว</v-card-title>
          <br />
          <v-divider></v-divider>

          <!-- รายละเอียดใบเสร็จ -->
          <v-card-text>
            <v-row>
              <v-col cols="6" class="text-h6">เรื่อง</v-col>
              <v-col cols="6">FINDING DROGO</v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row>
              <v-col cols="6" class="text-h6">ที่นั่ง</v-col>
              <v-col cols="6">{{ selectedSeats.map(seat => seat.join('')).join(', ') }}</v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row>
              <v-col cols="6" class="text-h6">รอบฉาย</v-col>
              <v-col cols="6">17/2/2567 เวลา 12.00</v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row>
              <v-col cols="6" class="text-h6">โรงภาพยนตร์</v-col>
              <v-col cols="6">โรงที่ 1</v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row>
              <v-col cols="6" class="text-h6">ราคารวม</v-col>
              <v-col cols="6">{{ total }} บาท</v-col>
            </v-row>
            <br /><br />
            <v-row>
              <v-img
                src="https://www.creativefabrica.com/wp-content/uploads/2023/02/20/Enjoy-The-Movie-Typography-Graphics-61831649-2-580x387.png"
                class="center-img" width="300" height="250"></v-img>
            </v-row>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<style scoped>
.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #1b1b1b;
  height: 93vh;
  /* กำหนดความสูงเท่ากับความสูงของหน้าจอ */
}

.right-side {
  padding: 20px;
  background-color: #5a0099;
  border-radius: 5px;
  height: 100%;
  /* กำหนดความสูงเท่ากับความสูงของ grid container */
  text-align: center;
}

.text-theater {
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

.row-id {
  font-size: 35px;
  font-weight: bold;
  color: white;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px 10px;
  /* ระยะห่างระหว่างปุ่มทั้งซ้ายและขวา และจัดให้ปุ่มอยู่ตรงกลางแนวนอน */
  width: 76px;
  /* กำหนดความกว้างของปุ่ม */
  height: 40px;
  /* กำหนดความสูงของปุ่ม */
}

button.selected {
  background-color: #00bf63;
}

input {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
}

button.seat-row-A {
  background-color: rgb(255, 94, 94);
}

button.seat-row-other {
  background-color: white;
}

button.selected {
  background-color: rgb(94, 227, 94);
}

.img-frame {
  display: inline-block;
  /* จัดให้เป็นบล็อกขนาดเท่ากับรูป */
}

.img-movie {
  width: 220px;
  /* กำหนดความกว้าง */
  height: 320px;
  /* กำหนดความสูง */
  padding: 10px;
  border-radius: 15px;
}

.btn {
  font-size: 25px;
  /* เพิ่มขนาดตัวอักษร */
  font-weight: bold;
  /* กำหนดความหนาของตัวอักษร */
  font-family: Tahoma, sans-serif;
  /* กำหนดฟ้อนที่ต้องการ */
  width: 300px;
  /* กำหนดความกว้าง */
  height: 50px;
  /* กำหนดความสูง */
}

@media only screen and (max-width: 768px) {
  /* CSS ที่จะใช้เมื่อหน้าจอมีขนาดไม่เกิน 768px */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* CSS ที่จะใช้เมื่อหน้าจอมีขนาดระหว่าง 768px และ 1024px */
}

@media only screen and (min-width: 1024px) {
  /* CSS ที่จะใช้เมื่อหน้าจอมีขนาดมากกว่า 1024px */
}

.v-card {
  padding: 30px;
  border: 2px solid #cb6ce6;
  border-radius: 10px;
  border-style: solid;
  border-width: 4px;
}

.btn-green {
  background-color: #00bf63;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 30px;
  margin: 0 auto;
  text-align: center;
}

.btn-red {
  background-color: #ff3131;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 30px;
  margin: 0 auto;
  text-align: center;
}

.QR-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #00bf63;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.receipt-card {
  width: 60%;
  /* ปรับความกว้างของใบเสร็จ */
  margin: auto;
  /* ทำให้ใบเสร็จอยู่ตรงกลางของหน้าจอ */
}

.receipt-card .v-divider {
  margin: 15px 0;
}

.receipt-card .v-row {
  padding: 5px 0;
}

.receipt-card .v-col {
  padding: 0 5px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
</style>
