<script setup lang="ts">
import { useMovieStore } from '@/stores/movie';
import { onMounted, ref } from 'vue';
import CheckTicketDialog from './CheckTicketDialog.vue';
import { useTicketStore } from '@/stores/ticket';

const ticketScore = useTicketStore();
</script>

<template>
  <v-layout class="background">
    <div>
      <v-row>
        <v-col>
          <div class="container-bg">
            <h1>วิธีตรวจตั๋ว</h1>
            <p>1.สแกน Qr Code บนตั๋ว</p>
            <p>2.กดตรวจสอบตั๋ว</p>
            <CheckTicketDialog></CheckTicketDialog>
            <v-btn @click="ticketStore.dialog = true" rounded color="#d6cfb3" class="ma-3">CHECK TICKET</v-btn>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <div class="container-bg">
            <v-card outlined shaped class="mx-auto my-12 text-center" max-width="1500">
              <v-row justify="center">
                <v-col col="12" md="3">
                  <v-img cover src="https://qph.cf2.quoracdn.net/main-qimg-c7e928ac1f11f73c7fe5b61adbdba085-lq"
                    :width="150" :height="225"></v-img>
                </v-col>
                <v-col col="12" md="3">
                  <h1>P'Aun Beautiful picture</h1>
                </v-col>
                <v-col col="12" md="3">
                  <h1>28 พ.ย. 2566 / รอบที่ 12.00 </h1>
                </v-col>
                <v-col col="12" md="3">
                  <h1>โรง 1 / SUB TH</h1>
                </v-col>
              </v-row>
            </v-card>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <div class="container-bg">
            <v-card outlined shaped class="mx-auto my-12 text-center" max-width="1500">
              <v-row justify="center">
                <v-col col="12" md="3">
                  <v-img cover src="https://qph.cf2.quoracdn.net/main-qimg-c7e928ac1f11f73c7fe5b61adbdba085-lq"
                    :width="150" :height="225"></v-img>
                </v-col>
                <v-col col="12" md="3">
                  <h1>P'Aun Beautiful picture</h1>
                </v-col>
                <v-col col="12" md="3">
                  <h1>28 พ.ย. 2566 / รอบที่ 12.00 </h1>
                </v-col>
                <v-col col="12" md="3">
                  <h1>โรง 1 / SUB TH</h1>
                </v-col>
              </v-row>
            </v-card>
          </div>
        </v-col>
      </v-row>
    </div>
  </v-layout>

</template>

<style scoped>
.container-bg {
  background-color: #1B1B1B;
  color: white;
}

.custom-contain {
  padding: 20px;
}

.background {
  background-color: #1B1B1B;
}
</style>
