<script lang="ts" setup>
import { onMounted, ref } from 'vue';
import { useMovieStore } from '@/stores/movie';
import { useHallStore } from '@/stores/hall';
import { useScreenStore } from '@/stores/screen';

const movieStore = useMovieStore();
const hallStore = useHallStore();
const screenStore = useScreenStore();
const tab = ref(null);
const items = ref([{}]);
const selectedItem = ref(null);  // เพิ่มตัวแปรนี้

// ดึงข้อมูล name จาก hallStore.halls แล้วเก็บไว้ใน items
// hallStore.halls.forEach(hall => {
//  items.value.push(hall.name);
//});

onMounted(async () => {
  // เรียกใช้ method เพื่อดึงข้อมูล halls
  await hallStore.getHalls();
  await movieStore.getMovies();
  await screenStore.getScreens();
  items.value = hallStore.halls.map(hall => hall.name);
  console.log(items); // ตรวจสอบว่า items ได้ถูกเติมค่าหลังจากการ getHalls หรือยัง
});

const goToYouTube = () => {
  // เปลี่ยน URL ด้านล่างเป็น URL ของวิดีโอบน YouTube ที่คุณต้องการให้เปิด
  window.location.href = 'https://youtu.be/KBelqZ5JcMY?si=YjIkGdO2VW6LjosX'
}

</script>


<template>
  <div class="container-bg">
    <v-container>
      <v-divider></v-divider>
      <v-row class="d-flex mt-8" align="center" justify="center">
        <v-col>
          <v-img cover
            src="https://scontent.futp1-1.fna.fbcdn.net/v/t1.6435-9/37313492_1648220648619811_8464933425730551808_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=dd63ad&_nc_eui2=AeHIepdUSC0Hgln_6Xsek2VSvJ8vDceQugS8ny8Nx5C6BCkUxaI9HYYwd93WcRnmKzBNEaXDnsY7gwZfngW2X0eN&_nc_ohc=XBlV2wlvUZYAX_0t9ta&_nc_ht=scontent.futp1-1.fna&oh=00_AfDsctQ3UmIQDrT6yZ3xDfLUhyr82zkrL1hK2y9hPF74Vw&oe=6604E03C"
            :width="450" :height="650" class="mx-auto"></v-img>
        </v-col>
        <v-col class="text-center">
          <v-row align="center" justify="center">
            <v-col cols="6" class="text-h4">FINDING DROGO</v-col>
          </v-row>
          <br />
          <v-divider></v-divider>
          <v-row align="center" justify="center">
            <v-col cols="8" class="text-h6">
              <h4>หมวดหมู่</h4>
              แอ็คชัน, ผจญภัย, วิทยาศาสตร์, ตลกขบขัน</v-col>
          </v-row>
          <v-divider></v-divider>
          <v-row align="center" justify="center">
            <v-col cols="6" class="text-h6">
              <h4>วันที่เข้าฉาย</h4>
              27-1-2024</v-col>
          </v-row>
          <v-divider></v-divider>
          <v-row align="center" justify="center">
            <v-col cols="6" class="text-h6">
              <h4>ผู้กำกับ</h4>
              เจมส์ วาน</v-col>
          </v-row>
          <v-divider></v-divider>
          <v-row align="center" justify="center">
            <v-col cols="14" class="text-h6">
              <h4>นักแสดง</h4>
              เจสัน โมโมอา, แอมเบอร์ เฮิร์ด, แพทริค วิลสัน, วิลเลม เดโฟ</v-col>
          </v-row>
          <v-divider></v-divider>
          <v-row align="center" justify="center">
            <v-col cols="14" class="text-h6">
              <h4>เรื่องย่อ</h4>
              ภาพยนตร์แนวแอคชั่นผจญภัยครั้งใหญ่กับภาพอันชวนตื่นตะลึงจนแทบหยุดหายใจ <br />
              ในโลกแห่งคาบสมุทรภาพยนตร์ที่จะนำคุณไปพบกับที่มาของลูกครึ่งมนุษย์-ครึ่งชาวแอตแลนติส และพาไปชมการผจญภัยครั้งสำคัญของชีวิต
              นอกจากจะบังคับให้เขาต้องเผชิญหน้ากับตัวตนที่แท้จริงของตนเองแล้ว ยังเพื่อให้เขาได้ค้นพบว่าเขาคู่ควรกับสิ่งที่เขาเกิดมาเพื่อเป็นหรือไม่...ในฐานะปลาการ์ตูน</v-col>
          </v-row>
          <br />
          <v-col cols="12">
            <div class="video-container">
              <button @click="goToYouTube" class="youtube-button">Watch Movie Trailer</button>
            </div>
          </v-col>
        </v-col>
      </v-row>
      <br />
    </v-container>
    <v-divider></v-divider>

    <v-card class="container-bg">
      <v-tabs v-model="tab" bg-color="#5A0099" height="100">
        <v-tab value="one" width="200">
          <div style="display: flex; flex-direction: column; align-items: center">
            <h1>วันนี้</h1>
            <p>17 ก.พ. 2567</p>
          </div>
        </v-tab>
        <v-tab value="two" width="200">
          <div style="display: flex; flex-direction: column; align-items: center">
            <h1>อาทิตย์</h1>
            <p>18 ก.พ. 2567</p>
          </div>
        </v-tab>
        <v-tab value="three" width="200">
          <div style="display: flex; flex-direction: column; align-items: center">
            <h1>จันทร์</h1>
            <p>19 ก.พ. 2567</p>
          </div>
        </v-tab>
        <v-tab value="four" width="200">
          <div style="display: flex; flex-direction: column; align-items: center">
            <h1>อังคาร</h1>
            <p>20 ก.พ. 2567</p>
          </div>
        </v-tab>
        <v-tab value="five" width="200">
          <div style="display: flex; flex-direction: column; align-items: center">
            <h1>พุธ</h1>
            <p>21 ก.พ. 2567</p>
          </div>
        </v-tab>
        <v-tab value="six" width="200">
          <div style="display: flex; flex-direction: column; align-items: center">
            <h1>พฤหัสบดี</h1>
            <p>22 ก.พ. 2567</p>
          </div>
        </v-tab>
        <v-tab value="sever" width="200">
          <div style="display: flex; flex-direction: column; align-items: center">
            <h1>ศุกร์</h1>
            <p>23 ก.พ. 2567</p>
          </div>
        </v-tab>
        <v-tab value="eight" width="200">
          <div style="display: flex; flex-direction: column; align-items: center">
            <h1>เสาร์</h1>
            <p>24 ก.พ. 2567</p>
          </div>
        </v-tab>
        <v-tab value="nine" width="200">
          <div style="display: flex; flex-direction: column; align-items: center">
            <h1>อาทิตย์</h1>
            <p>25 ก.พ. 2567</p>
          </div>
        </v-tab>
      </v-tabs>

      <v-card-v-btn-edit>
        <v-window v-model="tab">
          <v-window-item value="one">
            <div>
              <v-select v-model="selectedItem" :items="items" label="ชื่อโรงหนัง" />
            </div>

            <v-divider></v-divider>
            <br />

            <v-row>
              <v-col cols="12" md="2">
                <div style="display: flex; flex-direction: column">
                  <h2>โรงที่1</h2>
                </div>
              </v-col>
              <v-col cols="12" md="2">
                <div style="display: flex; flex-direction: column">
                  <h2>SUB / TH</h2>
                </div>
              </v-col>
            </v-row>
            <br />
            <v-row>
              <v-col cols="12" md="2">
                <v-btn class="v-btn-edit" title="Seat" value="seat" to="/seat">12.00</v-btn>
              </v-col>
              <v-col cols="12" md="2">
                <v-btn class="v-btn-edit" title="Seat" value="seat" to="/seat">15.00</v-btn>
              </v-col>
              <v-col cols="12" md="2">
                <v-btn class="v-btn-edit" title="Seat" value="seat" to="/seat">16.30</v-btn>
              </v-col>
            </v-row>
            <br />
            <br />
            <br />
            <v-row>
              <v-col cols="12" md="2">
                <div style="display: flex; flex-direction: column">
                  <h2>โรงที่2</h2>
                </div>
              </v-col>
              <v-col cols="12" md="2">
                <div style="display: flex; flex-direction: column">
                  <h2>SUB / EN</h2>
                </div>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="2">
                <v-btn class="v-btn-edit" title="Seat" value="seat" to="/seat">10.00</v-btn>
              </v-col>
              <v-col cols="12" md="2">
                <v-btn class="v-btn-edit" title="Seat" value="seat" to="/seat">12.30</v-btn>
              </v-col>
            </v-row>
          </v-window-item>


          <v-window-item value="two">
            <div>
              <v-select v-model="selectedItem" :items="items" label="ชื่อโรงหนัง" />
            </div>

            <v-divider></v-divider>
            <br />
            <v-row>
              <v-col cols="12" md="2">
                <div style="display: flex; flex-direction: column">
                  <h2>โรงที่1</h2>
                </div>
              </v-col>
              <v-col cols="12" md="2">
                <div style="display: flex; flex-direction: column">
                  <h2>SUB / TH</h2>
                </div>
              </v-col>
            </v-row>
            <br />
            <v-row>
              <v-col cols="12" md="2">
                <v-btn class="v-btn-edit" title="Seat" value="seat" to="/seat">11.00</v-btn>
              </v-col>
              <v-col cols="12" md="2">
                <v-btn class="v-btn-edit" title="Seat" value="seat" to="/seat">16.00</v-btn>
              </v-col>
              <v-col cols="12" md="2">
                <v-btn class="v-btn-edit" title="Seat" value="seat" to="/seat">20.00</v-btn>
              </v-col>
            </v-row>
            <br />
            <br />
            <br />
            <v-row>
              <v-col cols="12" md="2">
                <div style="display: flex; flex-direction: column">
                  <h2>โรงที่2</h2>
                </div>
              </v-col>
              <v-col cols="12" md="2">
                <div style="display: flex; flex-direction: column">
                  <h2>SUB / EN</h2>
                </div>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" md="2">
                <v-btn class="v-btn-edit" title="Seat" value="seat" to="/seat">11.30</v-btn>
              </v-col>
              <v-col cols="12" md="2">
                <v-btn class="v-btn-edit" title="Seat" value="seat" to="/seat">15.30</v-btn>
              </v-col>
            </v-row>
            <br />
            <br />
            <br />
            <v-row>
            <v-col cols="12" md="2">
                <div style="display: flex; flex-direction: column">
                  <h2>โรงที่3</h2>
                </div>
              </v-col>
              <v-col cols="12" md="2">
                <div style="display: flex; flex-direction: column">
                  <h2>SUB / TH</h2>
                </div>
              </v-col>
            </v-row>
            
            <v-row>
              <v-col cols="12" md="2">
                <v-btn class="v-btn-edit" title="Seat" value="seat" to="/seat">10.30</v-btn>
              </v-col>
              <v-col cols="12" md="2">
                <v-btn class="v-btn-edit" title="Seat" value="seat" to="/seat">12.45</v-btn>
              </v-col>
              <v-col cols="12" md="2">
                <v-btn class="v-btn-edit" title="Seat" value="seat" to="/seat">15.30</v-btn>
              </v-col>
              <v-col cols="12" md="2">
                <v-btn class="v-btn-edit" title="Seat" value="seat" to="/seat">20.00</v-btn>
              </v-col>
            </v-row>
          </v-window-item>

            <!-- ทดสอบดึงข้อมูล -->
            <!-- <div>
              <v-select v-model="selectedItem" :items="items" label="ชื่อโรงหนัง" />
            </div>
            <v-row>
              <v-col v-for="item of screenStore.screens" :key="item.id" cols="12" md="12">
                <v-card>
                  <v-card-title>{{ item.name }} </v-card-title>
                  <v-row>
                    <v-col>
                      <v-btn>

                      </v-btn>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </v-window-item> -->

          <v-window-item value="three"> ไม่พบรอบฉาย </v-window-item>
          <v-window-item value="four"> ไม่พบรอบฉาย </v-window-item>
          <v-window-item value="five"> ไม่พบรอบฉาย </v-window-item>
          <v-window-item value="six"> ไม่พบรอบฉาย </v-window-item>
          <v-window-item value="sever"> ไม่พบรอบฉาย </v-window-item>
          <v-window-item value="eight"> ไม่พบรอบฉาย </v-window-item>
          <v-window-item value="nine"> ไม่พบรอบฉาย </v-window-item>
        </v-window>
      </v-card-v-btn-edit>
      <br />
    </v-card>

    <v-container> </v-container>
    <v-container> </v-container>
    <v-container> </v-container>
    <v-container> </v-container>
    <v-divider></v-divider>
  </div>
</template>

<style scoped>
.container-bg {
  background-color: #1b1b1b;
  color: white;
  padding: 20px; /* เพิ่ม padding เพื่อระยะห่างรอบขอบ */
}

.v-btn-edit {
  font-size: 18px;
  font-weight: bold;
}

.day {
  font-size: 18px;
  align-items: center;
}

/* ปรับแต่งเนื้อหาภายใน tab */
.v-tabs {
  background-color: #5a0099;
}

.p {
  color: white;
}

.v-tab {
  color: white;
}

.v-window-item {
  padding: 20px;
}

/* ปรับขนาดของ tabs */
.v-tab {
  min-width: 150px;
}

.v-btn-edit {
  color: #fff;
  /* ตั้งค่าสีข้อความเป็นสีขาว */
  background-color: #cb6ce6;
  font-size: 30px;
  /* ตั้งค่าขนาดของปุ่ม */
  padding: 0px 30px;
  /* ตั้งค่าระยะห่างของขอบปุ่ม */
  width: 150px;
  height: 50px;
}

.v-container {
  max-width: 1500px; /* กำหนดความกว้างสูงสุดของ container */
  margin: 0 auto; /* จัดเรียง container ไปตรงกลาง */
}

/* ปรับขนาดภาพ */
.v-img {
  max-width: 100%; /* กำหนดให้ภาพมีขนาดไม่เกิน container */
  height: auto; /* ปรับสัดส่วนความสูงของภาพตามสัดส่วนความกว้าง */
}

/* ปรับขนาดของกล่องข้อความ */
.v-col {
  max-width: 800x; /* กำหนดความกว้างสูงสุดของกล่องข้อความ */
}

.youtube-button {
  background-color: #9000b8;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
  height: 70px;
  font-size: 28px;
}
</style>
