<script lang="ts" setup>
import { ref } from "vue";
import { useTicketStore } from '@/stores/ticket';

const ticketStore = useTicketStore();
const enteredTicketId = ref('');
let tick = ref(false);

const verifyTicket = async () => {
  if (enteredTicketId.value) {
    const ticketId = await ticketStore.getTicketById(enteredTicketId.value);

    if (ticketId) { 
      setTimeout(() => {
        ticketStore.dialog = false;
        ticketStore.dialog1 = true;
        tick.value = true
        setTimeout(() => {
          ticketStore.dialog1 = false;
        }, 3000);
      }, 3000);
    } else if (ticketId == null && tick.value) { 
      setTimeout(() => {
        ticketStore.dialog = false;
        ticketStore.dialog3 = true;
        tick.value = false
        setTimeout(() => {
          ticketStore.dialog3 = false;
        }, 3000);
      }, 3000);
    } else {
      setTimeout(() => {
        ticketStore.dialog = false;
        ticketStore.dialog2 = true;

        setTimeout(() => {
          ticketStore.dialog2 = false;
        }, 3000);
      }, 3000);
    }
  }
};
</script>

<template>
  <v-dialog v-model="ticketStore.dialog" persistent width="500">
    <v-card>
      <v-card-title class="title_bar text-center pa-5">
        <span class="text-h3">ตรวจตั๋ว</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col col="12" md="12">
                <v-img
                  src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg"
                  height="400px" cover></v-img>
              </v-col>
              <v-col>
                <v-text-field v-model="enteredTicketId"></v-text-field>
              </v-col>
              <v-col class="text-center" col="12" md="12">
                <v-btn @click="verifyTicket" size="x-large" class="font-size mr-2">ตรวจตั๋ว</v-btn>
                <v-btn @click="ticketStore.dialog = false" size="x-large" class="font-size">ปิด</v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<style scoped>
.font-size {
  font-size: 2rem;
}
</style>
