<script setup lang="ts">
import TicketPass from './TicketPass.vue';
import { useTicketStore } from '@/stores/ticket';
import TicketError from './TicketError.vue';
import TicketExpire from './TicketExpire.vue';
import CheckTicketDialog from './CheckTicketDialog.vue';

const ticketStore = useTicketStore();
</script>

<template>
  <v-layout class="background" align-center justify-center>
    <div class="container-with-spacing">
      <v-row class="mt-10">
        <v-col>
          <v-btn @click="ticketStore.dialog = true" size="x-large" class="font-size">ตรวจตั๋ว</v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card outlined shaped class="mx-auto my-12 text-center" max-width="2000">
            <v-row justify="center">
              <v-col col="12" md="2.4">
                <v-img cover src="https://qph.cf2.quoracdn.net/main-qimg-c7e928ac1f11f73c7fe5b61adbdba085-lq"
                  :width="150" :height="225"></v-img>
              </v-col>
              <v-col col="12" md="2.4" class="pt-16 mt-2">
                <h1>FINDING DROGO</h1>
              </v-col>
              <v-col col="12" md="2.4" class="pt-16 mt-2">
                <h1>28 พ.ย. 2566 / รอบที่ 12.00 </h1>
              </v-col>
              <v-col col="12" md="2.4" class="pt-16 mt-8">
                <h1>โรง 2 / SUB TH</h1>
              </v-col>
              <v-col col="12" md="2.4" class="pt-16 mt-8">
                <div>
                  <CheckTicketDialog></CheckTicketDialog>
                  <TicketPass></TicketPass>
                  <v-btn @click="ticketStore.dialog1 = true" class="font-size" color="success">PASS</v-btn>
                </div>
              </v-col>
            </v-row>
          </v-card>
          <v-card outlined shaped class="mx-auto my-12 text-center" max-width="2000">
            <v-row justify="center">
              <v-col col="12" md="2.4">
                <v-img cover src="https://qph.cf2.quoracdn.net/main-qimg-c7e928ac1f11f73c7fe5b61adbdba085-lq"
                  :width="150" :height="225"></v-img>
              </v-col>
              <v-col col="12" md="2.4" class="pt-16 mt-2">
                <h1>FINDING DROGO</h1>
              </v-col>
              <v-col col="12" md="2.4" class="pt-16 mt-2">
                <h1>28 พ.ย. 2566 / รอบที่ 12.00 </h1>
              </v-col>
              <v-col col="12" md="2.4" class="pt-16 mt-8">
                <h1>โรง 2 / SUB TH</h1>
              </v-col>
              <v-col col="12" md="2.4" class="pt-16 mt-8">
                <div>
                  <TicketError></TicketError>
                  <v-btn @click="ticketStore.dialog2 = true" class="font-size" color="error">
                    NO DATA
                  </v-btn>
                </div>
              </v-col>
            </v-row>
          </v-card>
          <v-card outlined shaped class="mx-auto my-12 text-center" max-width="2000">
            <v-row justify="center">
              <v-col col="12" md="2.4">
                <v-img cover src="https://qph.cf2.quoracdn.net/main-qimg-c7e928ac1f11f73c7fe5b61adbdba085-lq"
                  :width="150" :height="225"></v-img>
              </v-col>
              <v-col col="12" md="2.4" class="pt-16 mt-2">
                <h1>FINDING DROGO</h1>
              </v-col>
              <v-col col="12" md="2.4" class="pt-16 mt-2">
                <h1>28 พ.ย. 2566 / รอบที่ 12.00 </h1>
              </v-col>
              <v-col col="12" md="2.4" class="pt-16 mt-8">
                <h1>โรง 2 / SUB TH</h1>
              </v-col>
              <v-col col="12" md="2.4" class="pt-16 mt-8">
                <div>
                  <TicketExpire></TicketExpire>
                  <v-btn @click="ticketStore.dialog3 = true" class="font-size" color="orange">
                    EXPIRE
                  </v-btn>
                </div>

              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-layout>

</template>

<style scoped>
.container-with-spacing {
  margin-left: 35px;
  /* Adjust the value as needed */
}

.container-bg {
  background-color: #1B1B1B;
  color: white;
}

.font-size {
  font-size: 2rem;
}

.background {
  background-color: #1B1B1B;
}
</style>
