<script lang="ts" setup>
import { ref } from "vue";
import { useTicketStore } from '@/stores/ticket';
import type { VForm } from "vuetify/components";

const form = ref<VForm | null>(null);
const ticketStore = useTicketStore();
</script>
<template>
  <v-dialog v-model="ticketStore.dialog1" persistent width="750">
    <v-card>
      <v-card-title class="title_bar">
        <span class="text-h5"></span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col>
                <h2>เรื่อง</h2>
              </v-col>
              <v-col>
                <h2>P'Aun Beautiful picture</h2>
              </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row>
              <v-col>
                <h2>วันที่</h2>
              </v-col>
              <v-col>
                <h2>28 พฤศจิกายน 2566</h2>
              </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row>
              <v-col>
                <h2>รอบฉาย</h2>
              </v-col>
              <v-col>
                <h2>เวลา 12.00 น.</h2>
              </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row>
              <v-col>
                <h2>โรงภาพยนต์</h2>
              </v-col>
              <v-col>
                <h2>แหลมทองบางแสน/โรงที่2</h2>
              </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-row>
              <v-col>
                <h2>ที่นั่ง</h2>
              </v-col>
              <v-col>
                <h2>A2</h2>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <div class="d-flex align-center justify-center">
                  <v-img src="https://cdn.pixabay.com/photo/2022/07/04/01/58/hook-7300191_640.png"
                :width="100" :height="150"></v-img>
                </div>
              </v-col>
            </v-row>
            <v-row class="text-center">
              <v-col>
                <h2>สถานะ : ผ่าน</h2>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<style></style>
