<script lang="ts" setup>
import { ref } from "vue";
import { useTicketStore } from '@/stores/ticket';
import type { VForm } from "vuetify/components";

const form = ref<VForm | null>(null);
const ticketStore = useTicketStore();

</script>
<template>
  <v-dialog v-model="ticketStore.dialog2" persistent width="500">
    <v-card>
      <v-card-title class="title_bar">
        <span class="text-h5"></span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col>
                <div class="d-flex align-center justify-center">
                  <v-img src="https://static-00.iconduck.com/assets.00/process-error-icon-1024x1024-qxlzzqvg.png"
                    :width="100" :height="150"></v-img>
                </div>
              </v-col>
            </v-row>
            <v-row class="text-center">
              <v-col>
                <h2>สถานะ : ไม่พบข้อมูล</h2>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<style></style>
